Servlets/WebContent/wsdl/CRWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://cr.gentics.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://cr.gentics.com" xmlns:intf="http://cr.gentics.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://cr.gentics.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="init">
    <complexType/>
   </element>
   <element name="initResponse">
    <complexType/>
   </element>
   <element name="getObjects">
    <complexType>
     <sequence>
      <element name="rule" type="xsd:string"/>
      <element maxOccurs="unbounded" name="attributes" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getObjectsResponse">
    <complexType>
     <sequence>
      <element name="getObjectsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="initRequest">

      <wsdl:part element="impl:init" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getObjectsResponse">

      <wsdl:part element="impl:getObjectsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="initResponse">

      <wsdl:part element="impl:initResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getObjectsRequest">

      <wsdl:part element="impl:getObjects" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="CRWebService">

      <wsdl:operation name="init">

         <wsdl:input message="impl:initRequest" name="initRequest"/>

         <wsdl:output message="impl:initResponse" name="initResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getObjects">

         <wsdl:input message="impl:getObjectsRequest" name="getObjectsRequest"/>

         <wsdl:output message="impl:getObjectsResponse" name="getObjectsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CRWebServiceSoapBinding" type="impl:CRWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="init">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getObjects">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getObjectsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getObjectsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CRWebServiceService">

      <wsdl:port binding="impl:CRWebServiceSoapBinding" name="CRWebService">

         <wsdlsoap:address location="http://localhost:42880/CCServlets/services/CRWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
